/*HEADER*/
header{
    width: 100%;
    background-color: rgb(105, 160, 243);
    height: 60px;
    background-image: url('../img/pattern.png');
    background-size: cover;
    background-size: contain;
    width: 1100px;
}
.logo{
    height: 60px;
    width: 150px;
    padding-top: 20px;
}
/*MAIN*/
main{
    width: 1100px;
}

h1{
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.undertitle-author, .undertitle-date{
    color: lightslategray;
    font-weight: bold;
}
.undertitle-date, .image-description{
    font-size: 0.75em;
}
#booleaner{
    color: rgb(7, 124, 249);
}

.images{
    margin-top: 20px;
}
.highlighted{
    background-color: yellow;
}

/*table*/

th, td{
    width: 330px;
    padding: 0;
}
thead{
    background-color: rgb(60, 153, 224);
    color: white;
}
.tr-color{
    background-color: rgb(144, 189, 202);
}

/*TABLE WITH DIV*/

/* FOOTER*/
.footertitle{
    
    color: grey;
}
.footer-image{
    width: 250px;
    height: 175px;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    
}
.link-image1{
    background-image: url('../img/monitor.jpg');
}
.link-image2{
    background-image: url('../img/graph.jpg');
}
